<nav>
  <ul class="links">
    <li><a class="link" href="<%= relative_url '/' %>">Home</a></li>
    <li><a class="link" href="<%= relative_url '/contact' %>">Contact</a></li>
    <li><a class="link" href="<%= relative_url '/projects' %>">Projects</a></li>
  </ul>
</nav>
