<nav>
  <ul class="links">
    <li><a class="link" href="<%= relative_url '/work' %>">Work</a></li>
    <li><a class="link" href="<%= relative_url '/contact' %>">Contact</a></li>
    <li><a class="link" href="<%= relative_url '/posts' %>">Posts</a></li>
  </ul>
</nav>
