@use "../base" as *;

.collection {

  .center {
    .yline {
      height: 100%;
    }
  }

  .landing {
    @media screen and (min-width: 960px) {
      grid-template-columns: 50% 50%;
      grid-template-rows: 100vh;
      margin-bottom: 0;
    }


    .hero {
      grid-column: 2;

      @media screen and (min-width: 960px) {
        grid-column: 2;
      }
    }

    .intro {
      background: transparent;
      color: $col-purple;

      @media screen and (min-width: 960px) {
        grid-column: 1;
        grid-row: 1;
      }

      .title {
        color: $col-purple;
      }
    }
  }

  .filter {
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;

    h4 {
      margin-right: 1rem;
    }

    .row {
      @extend %flex-row-center;

      gap: 1rem;
      justify-content: end;
      padding: 4rem 0;
      width: 50%;
    }

    .yline {

      line {
        stroke: $col-purple;
      }
    }

    .xline {
      width: 120px;
    }
  }

  .list {
    grid-template-columns: 1fr;
    width: 100%;

    .heading {
      background-color: $col-cream;
      border-radius: 80px;
      font-weight: 600;
      justify-content: center;
      margin: 0 auto;
      padding: 2rem 1rem;
      position: relative;
      z-index: 1;
      width: 80px;
    }

    li {
      display: flex;
      justify-content: end;


      // &:nth-of-type(even) {
      //   justify-content: start;

      //   .item {
      //     flex-direction: row-reverse;
      //     justify-content: end;
      //     text-align: right;
      //   }
      // }

      &:nth-of-type(odd) {
        justify-content: end;
      }

      .item {
        margin: 2rem 0;
        width: 50%;
      }
    }
  }

}