@use "../base" as *;

.contact {
  .header {
    z-index: 1;

    .logo,
    .plus {
      border-color: $col-cream;
      color: $col-cream;
    }
  }

  // .landing {
  //   .hero {
  //     background-color: $col-purple;

  //     .picture {
  //       animation: fade-in 0.5s ease-in forwards;
  //     }
  //   }

  //   .intro {
  //     align-items: center;
  //     gap: 0.5rem;
  //     padding-bottom: 4rem;
  //     z-index: 1;

  //     > * {
  //       width: auto;
  //       text-decoration: none;
  //     }

  //   }
  // }
}