@use "../base" as *;

.home {

  h1 {
    color: $col-cream;
  }

  .center {
    margin-bottom: 2rem;
  }

  // .cta {
  //   .button-purple {
  //     border: 2px solid #2f004f;
  //     font-weight: 500;
  //   }

  // }

  .header {
    align-items: start;
    background: linear-gradient( $col-purple, transparent 80%, transparent 100%); 
    height: 120px;
    

    @media screen and (min-width: 960px) {
      background: linear-gradient( $col-purple, transparent 80%, transparent 100%); 
      height: 200px;
    }

    .logo,
    .plus {
      border-color: $col-cream;
      color: $col-cream;
    }
  }

  .landing {
    grid-template-rows: 90vh auto;

    .hero {
      align-items: stretch;
      display: flex;

      video {
        object-fit: cover;
      }

    }
    

    // img {
    //   object-position: 51% center;
    // }   
    // video {

    // } 
  }

  .intro {
    align-items: center;
    background: linear-gradient(transparent, $col-purple 170px, $col-purple 100%); 
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-top: -170px;
    padding-bottom: 6rem;


  }

  .section {
    &:nth-of-type(3) {
      .heading,
      .item {
        flex-direction: row-reverse;
      }

      .heading {
        justify-content: start;
      }

      .item {
        text-align: right;
      }
    }
  }

  .title {
    letter-spacing: 0.08rem;
  }
}

