@use "../base" as *;

.home {
  h1 {
    color: $col-cream;
  }

  .center {
    margin-bottom: 2rem;
  }

  .header {
    background: linear-gradient( $col-purple, transparent 80%, transparent 100%); 

    @media screen and (min-width: 960px) {
      background: linear-gradient( $col-purple, transparent 50%, transparent 100%); 
    }

    .logo,
    .plus {
      border-color: $col-cream;
      color: $col-cream;
    }
  }

  .landing {
    img {
      object-position: 51% center;
    }    
  }

  .intro {
    background: linear-gradient(transparent, $col-purple 30%, $col-purple 100%); 
    margin-top: 38vh;
    padding-bottom: 6rem;

    @media screen and (min-width: 960px) {
      background: linear-gradient(transparent, $col-purple 70%, $col-purple 100%); 
    }
  }

  .section {
    &:nth-of-type(3) {
      .heading,
      .item {
        flex-direction: row-reverse;
      }

      .heading {
        justify-content: start;
      }

      .item {
        text-align: right;
      }
    }
  }
}

