@use "../base" as *;


.button {
  &-cream {
    @extend %button
  }

  &-purple {
    @extend %button;

    background: $col-cream;
    border: 1px solid $col-purple;
    color: $col-purple;
  }
}


.center {
  @extend %flex-row-center;

  min-width: 100%;
}

.cream {
  color: $col-cream;
  
  &:visited {
    color: $col-purple;
  }
}

.purple {
  color: $col-purple;

  &:visited {
    color: $col-purple;
  }
}


.footer {
  background: linear-gradient(transparent, $col-purple 80%, $col-purple 100%); 
  min-height: 100vh;
  position: relative;   

  .links {
    align-items: center;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    left: 50%;
    position: absolute;
    transform: translateX(-50%); 

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  .link {
    @extend %button;
    @extend %flex-row-center;

    color: $col-cream;
    font-size: 0.75rem;
    font-weight: 300;
    text-decoration: none;
  }

  .yline {
    height: calc(100% - 120px);

    @media screen and (min-width: 768px) {
      height: calc(100% - 120px);
    }
  }
}

.header {
  @extend %flex-row-center;

  gap: 1rem;
  left: 0;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  width:100%;  

  @media screen and (min-width: 960px) {
    justify-content: start;
  }

  .nav-container {
    display: flex;

    a {
      // color: $col-cream;
      padding: 0.25rem 0.5rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;

      }
    }

    .links {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 0;
      
      left: 50%;
      position: absolute;
  
      top: 70px;
      transform: translateX(70px);
      overflow: hidden;
      

  
  
      @media screen and (min-width: 960px) {
        flex-direction: row;
        height: auto;
        left: 0;
        position: relative;
        top: 0;
        width: 0;
        transform: translateX(1rem);
      }
  
      
    }
    &:hover {
      .plus {
        transform: rotate(45deg);
      }
      
      .links {
        height: auto;
        
        @media screen and (min-width: 960px) {
          width: auto;
        }
      }

    }
  } 
}



.intro {
  align-items: end;
  background: linear-gradient(transparent, $col-purple 70%, $col-purple 100%); 
  color: $col-cream;
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1 / span 2;
  justify-content: end;
  gap: 1rem;
  padding: 3rem 2rem 6rem 2rem;

  > * {
    width: 90%;
    max-width: 650px;

    @media screen and (min-width: 960px) {
      width: 80%;
    }
  }

  .field {
    h2 {
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 14px;
    }

    &:first-of-type {
      margin-top: 1rem;
    }
  }

  .title {
    color: $col-cream;
  }
  
}

.landing {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 1fr;
  margin-bottom: 2rem;

  @media screen and (min-width: 960px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: 120vh 1fr;
    margin-bottom: 0;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .hero {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
}

.list {
  @extend %two-columns; 

  justify-self: center;
  min-width: 60%;
  position: relative;

  @media screen and (min-width: 768px) {
    
  }

  .yline {
    position: absolute;
    left: 0;
    top: 67px;
  }

  
  .cta {
    @extend %flex-row-center;

    grid-column:  span 2;
    margin-top: 3rem;
  }


  .heading {
    @extend %flex-row-center;

    gap: 2rem;
    grid-column: 1 / span 2;
    margin-top: 3rem;
    z-index: 1;
    flex-direction: row-reverse;
    justify-content: start;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      grid-column: 1 ;
      justify-content: end;
    }

    

    h3 {
      font-family: $font-comp;
      font-size: 2.5rem;
      font-weight: 900;
      line-height: 1;
    }
  }

  .item {
    @extend %flex-row-center;

    gap: 1rem;
    justify-content: start;
    margin: 6rem 0 6rem;
    position: relative;

    .link {
      @extend %flex-row-center;

      gap: 1rem;
      padding-right: 2em;
      text-decoration: none;

      &:hover {
        opacity: 0.5;
      }
      
  
    }
    

    h4 {
      font-weight: 300;
    }
  }


  .yline {
    height: calc(100% - 60px);
    line {
      stroke: $col-purple;
    }
  }
}

.logo {
  // animation: typing 1.7s steps(17, end);
  overflow: hidden; 
  white-space: nowrap;
}

.plus {
  @extend %flex-row-center;

  border: 1px solid $col-purple;
  border-radius: 20px;
  font-size: 1.5rem;;
  line-height: 30px;
  max-height: 30px;
  max-width: 30px;
  min-height: 30px;
  min-width: 30px;
}

.title {
  color: $col-purple;
  font-family: $font-comp;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.2;
  margin: 0.5rem 0 1rem;
}

.xline {
  height: 1px;
  min-width: 50px;

  line {
    stroke: $col-purple;
    stroke-width:1
  }
}

.yline {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);

  line {
    stroke: $col-cream;
    stroke-width:1
  }
}


