---
layout: default
page_class: contact
---

<section class="landing" >
  <div class="hero">
    <%= render Shared::Image.new(src:'images/contact.webp') %>
  </div>
  <div class="intro">
    <h1 class="title">Contact</h1>
    <a href="mailto:jwrferguson@gmail.com">jwrferguson@gmail.com</a>
    <a href="tel: +447379414234">+44 73794 14234</a>
    <a href="https://github.com/winstonferguson">github.com/winstonferguson</a>
    <a href="https://www.linkedin.com/in/winstonferguson/">linkedin.com/in/winstonferguson</a>
  </div>
</section>

<footer class="footer">
  <%= render 'yline' %>
  <nav>
    <ul class="links">
      <li><a class="link" href="<%= relative_url '/' %>">Home</a></li>
    </ul>
  </nav>
</footer>
