---
layout: default
page_class: home
---

<section class="landing" >
  <div class="hero">
    <video 
      class="video"
      autoplay
      loop="true"  
      muted 
      width="100%" 
      playsinline
      disablePictureInPicture
      data-controller="teaser" 
      controls
      
      data-teaser-land-src-value="<%=  relative_url 'video/teaser-land.mp4' %>" 
      data-teaser-port-src-value="<%=  relative_url 'video/teaser-port.mp4' %>">    
    </video>
  </div>
  <div class="intro">
    <div class="title">Hello,<br>I'm Winston.</div>
      <h1>I'm a London-based multidisciplinary professional specializing in technology, design, and management.</h1>
      <p>My background includes:</p>
      <div class="field">
        <h2 class="heading">Development</h2>
        <p>I started writing code as I wanted to build the systems I imagined. I have over 6 years of experience as a developer, with 6 years in front-end and 5 in full-stack development. Over the past four years, I've specialized in e-commerce systems using Ruby on Rails (Hotwire: Stimulus & Turbo) or Shopify (Liquid), and static builds (Bridgetown).</p>
      </div>
      <div class="field">
        <h2 class="heading">Design</h2>
        <p>For the past decade, I've specialized in product, digital, and web design, creating over 12 websites and excelling in vector graphics. My product designs have been showcased at the London Design Festival and Decorex, and featured in ICON Design Guide, The World of Interiors, and more.</p>
      </div>
      <div class="field">
        <h2 class="heading">Management</h2>
        <p>With 10+ years in business management, I’ve worked at a multinational corporation and consulted SMEs across the UK, US, Canada, and the Caribbean, specializing in luxury, retail, and hospitality. I’ve led and trained teams to boost sales, transform companies, optimize operations, launch successful ventures, and create an acclaimed restaurant.</p>
      </div>
      <div class="field">
        <p>I'm open to new opportunities. Feel free to reach out at <a href="mailto:jwrferguson@gmail.com">jwrferguson@gmail.com</a> or <a href="tel: +447379414234">+44 73794 14234</a>.</p>
      </div>
  </div>
  
</section>
<section class="section center">
  <div class="list">
    <div class="heading">
      <h3>Recent projects</h3>
      <%= render 'xline' %>
    </div>
    <%= render 'yline' %>
    <ul>
      <% collections.projects.resources.reverse[0..2].each do |project| %>
        <li class="item">
          <%= render 'xline' %>
          <a class="link purple" href="<%= project.relative_url %>">
            <div class="plus">+</div>
            <span><%= project.data.title %></span>
          </a>          
        </li>
      <% end %>
    </ul>
    <div class="cta">
      <%= render 'xline' %>
      <a href="<%= relative_url '/projects' %>" class="button-purple">All projects</a>
    </div>
  </div>
</section>



