---
layout: default
page_class: home
---

<section class="landing" >
  <div class="hero">
    <%= render Shared::Image.new(src:'images/landing.webp') %>
  </div>
  <div class="intro">
    <div class="title">Hello,<br>I'm Winston.</div>
      <h1>I’m a multidisciplinary consultant based in London, UK, with expertise in both technology and management.</h1>
      <p>My background includes:</p>
      <div class="field">
        <h2 class="heading">Development</h2>
        <p>I have over 8 years of experience as a developer, with 8 years in front-end and 5 in full-stack development. For the past 4 years, I’ve specialized in Ruby on Rails, ES6 JavaScript, Dart Sass, and Shopify.</p>
      </div>
      <div class="field">
        <h2 class="heading">Management</h2>
        <p>With over 8 years of experience, I’ve advised operations in the UK, the United States, Canada, and the Caribbean, focusing on luxury, retail, and hospitality sectors.</p>
      </div>
      <div class="field">
        <h2 class="heading">Design</h2>
        <p>I’ve always been passionate about design, with professional experience spanning product, graphic, and interior design. Most of my client work focuses on web and graphic design, including logos and advertisements.</p>
      </div>

  </div>
  
</section>
<section class="section center">
  <div class="list">
    <div class="heading">
      <h3>Recent work</h3>
      <%= render 'xline' %>
    </div>
    <%= render 'yline' %>
    <ul>
      <% collections.works.resources[0..2].each do |work| %>
        <li class="item">
          <%= render 'xline' %>
          <div class="plus">+</div>
          <span><%= work.data.title %></span>
        </li>
      <% end %>
    </ul>
    <div class="cta">
      <a href="/posts" class="button-purple">View all posts</a>
    </div>
  </div>
</section>


<section class="section center flip">
  <div class="list">
    <%= render 'yline' %>
    <ul>
      <% collections.works.resources[0..2].each do |post| %>
        <li class="item">
          <%= render 'xline' %>
          <div class="plus">+</div>
          <span><%= post.data.title %></span>
        </li>
      <% end %>
    </ul>
    <div class="heading">
      <h3>Recent posts</h3><%= render 'xline' %>
    </div>
    <div class="cta">
      <a href="/posts" class="button-purple">View all posts</a>
    </div>
  </div>
</section>



