<div class="filter">
  <div class="row">
    <h4>Filter</h4>
    <div class="button-purple">
      Design
    </div>
    <div class="button-purple">
      Development
    </div>
    <div class="button-purple">
      Management
    </div>
    <%= render 'xline' %>
  </div>
  <%= render 'yline' %>
</div>