<div class="filter" data-controller="filter">
  <div class="row">
    <h4>Filter</h4>
    <button class="button-purple" data-filter-target="category" data-filter-value="1">
      Development
    </button>
    <button class="button-purple" data-filter-target="category" data-filter-value="2">
      Design
    </button>
    <%= render 'xline' %>
  </div>
  <%= render 'yline' %>
</div>
